<div class="card-comment">
    <% if (title && desc) { %>
        <div class="card-comment__title"><%= title %></div>
        <div class="card-comment__desc"><%= desc %></div>
    <% } %>
    <% if (!title && !desc) { %>
        <div class="card-comment__title">Комментарий отсутствует</div>
    <% } %>
</div>
