<div class="data-card">
  <div class="data-card__header"><%= heading %></div>
  <div style="margin-top: 40px" class="items">
    <% items.forEach(item => { %>
    <div class="item">
      <div class="label"><%= item.label %></div>
      <div class="value"><%= item.value %></div>
    </div>
    <% }) %>
    <div class="additional-checkbox-block">
      <div class="heading">Дополнительные данные</div>
      <div class="labels">
        <% labels.forEach(item => { %>
        <div class="label">
          <div class="checkbox">
            <% if (item.checked) { %>
              <div class="checked"></div>
            <% } %>
          </div>
          <div class="label-text"><%= item.label %></div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
