<div class="data-card">
  <div class="data-card__header"><%= heading %></div>
  <div style="margin-top: 40px" class="items">
    <div class="border-comment-block">
      <%- comment %>
    </div>
  </div>
</div>