<div class="data-card">
  <div class="data-card__header">Идентификационные данные</div>
  <div style="margin-top: 40px" class="items">
    <div class="color-block">
      <div class="color-radio"></div>
      <div class="color-name">Белый</div>
    </div>
  </div>
</div>
