<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="main-section">
        <div class="col-1">
          <div style="font-size: 40px" class="date">
            Дата осмотра: 04.12.2023
          </div>
          <div style="font-size: 103px" class="title">
            Volkswagen GolfSportsvan VII
          </div>
          <div style="font-size: 64px" class="price">69 500 PLN</div>
        </div>
        <div class="col-2">
          <div class="imageContainer">
            <img
              src="https://i.postimg.cc/Rh5Jd1VL/770f63bd3ec58dca14d9c0e9253175d07007ef01.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container block first-block">
      <div style="margin-bottom: 64px" class="h2-block h2">
        01 - Технические характеристики
      </div>
      <div class="first-block__cards">
        <div class="col-1">
          <div class="data-card">
            <div class="data-card__header">Идентификационные данные</div>
            <div style="margin-top: 40px" class="items">
              <div class="item">
                <div class="label">VIN-номер</div>
                <div class="value">Volkswagen</div>
              </div>
              <div class="item">
                <div class="label">VIN-номер</div>
                <div class="value">Volkswagen</div>
              </div>
            </div>
          </div>
          <div class="data-card">
            <div class="data-card__header">Идентификационные данные</div>
            <div style="margin-top: 40px" class="items">
              <div class="item">
                <div class="label">VIN-номер</div>
                <div class="value">Volkswagen</div>
              </div>
              <div class="item">
                <div class="label">VIN-номер</div>
                <div class="value">Volkswagen</div>
              </div>
            </div>
          </div>
          <div class="data-card">
            <div class="data-card__header">Идентификационные данные</div>
            <div style="margin-top: 40px" class="items">
              <div class="color-block">
                <div class="color-radio"></div>
                <div class="color-name">Белый</div>
              </div>
            </div>
          </div>
          <div class="data-card">
            <div class="data-card__header">Идентификационные данные</div>
            <div style="margin-top: 40px" class="items">
              <div class="border-comment-block">
                Этот комментарий очень важен. Прям настолько важен, что мне надо
                его растянуть на две или три строки. От так от.
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="data-card">
            <div class="data-card__header">Идентификационные данные</div>
            <div style="margin-top: 40px" class="items">
              <div class="border-comment-block">
                Этот комментарий очень важен. Прям настолько важен, что мне надо
                его растянуть на две или три строки. От так от.
              </div>
            </div>
          </div>
          <div class="data-card">
            <div class="data-card__header">Идентификационные данные</div>
            <div style="margin-top: 40px" class="items">
              <div class="item">
                <div class="label">VIN-номер</div>
                <div class="value">Volkswagen</div>
              </div>
              <div class="additional-checkbox-block">
                <div class="heading">Дополнительные данные</div>
                <div class="labels">
                  <div class="label">
                    <div class="checkbox">
                      <div class="checked"></div>
                    </div>
                    <div class="label-text">Дополнительные данные</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container block second-block">
      <div style="margin-bottom: 64px" class="h2-block h2">
        02 - Проверка уровня жидкости
      </div>
      <div class="second-block__cards">
        <div class="col-1">
          <div class="check-card">
            <div class="check-card__header">
              <div class="check-card__header-title">Уровень масла ДВС</div>
              <div class="check-card__header-state error">Не в норме</div>
            </div>
            <div class="check-card__img">
              <img
                src="https://i.postimg.cc/Rh5Jd1VL/770f63bd3ec58dca14d9c0e9253175d07007ef01.jpg"
                alt=""
              />
            </div>
            <div class="card-comment" style="margin-top: 24px">
              <div class="card-comment__title">Комментарий</div>
              <div class="card-comment__desc">
                Этот комментарий очень важен. Прям настолько важен, что мне надо
                его растянуть на две или три строки. От так от.
              </div>
            </div>
            <div class="additional-checkbox-block">
              <div class="heading">Дополнительные данные</div>
              <div class="labels">
                <!-- <% labels.forEach(item => { %> -->
                <div class="label">
                  <div class="checkbox">
                    <!-- <% if (item.checked) { %> -->
                    <div class="checked"></div>
                    <!-- <% } %> -->
                  </div>
                  <div class="label-text">Пробег не установлен</div>
                </div>
                <!-- <% }) %> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </body>
</html>
